.sidebar {
  display: none !important;
}

.content {
  margin: 0 auto;
  width: 100%;
  float: none;
  display: initial;
}

.container {
  width: 100%;
  float: none;
  display: initial;
  padding-left:  1rem;
  padding-right: 1rem;
  margin: 0 auto;
}

html {
    zoom: 0.2; /* Old IE only */
    -moz-transform: scale(0.2);
    -webkit-transform: scale(0.2);
    transform: scale(0.2);
}
